{{> ../partials/head.hbs}}

<a
  href="./hello.html"
>
  <img src="./assets/logo.png" />
</a>

<h1>@aquestsrl/malmo-static-site-starter-kit</h1>

<div>
  <a href="./hello.html">HELLO</a> . <a href="./world.html">WORLD</a>
</div>